In [5]:
a = {"name" : "김유미", "birth" : 313, "age" : 27}

for k, v in a.items():
    print("키는: " + k)
    print("밸류는: " + str(v))

키는: name
밸류는: 김유미
키는: birth
밸류는: 313
키는: age
밸류는: 27

**v에 str 을 씌어주는 이유**
"밸류는 : "이 문자로 처리되기 때문에 문자와 숫자형은 결합을 못하므로 
str을 통해 숫자형을 문자형으로 바꿔주는 작업을 해야함

In [3]:
a = {1 : "김", 2 : "이", 3 : "박"}

print(a[1])

김

In [4]:
a = {1 : "김", 2 : "이", 3 : "박"}

print(a[4])

KeyError: 4

In [6]:
a = {1 : "김", 2 : "이", 3 : "박"}

print(a.get(4))

None

print(a[4]), 대괄호 사용시 error 발생하나
print(a.get(4)), get함수 사용시 none이라는 값이 나옴

In [9]:
a = {1 : "김", 2 : "이", 3 : "박"}

print(a.get(4, "없음"))

없음

In [11]:
a = {1 : "김", 2 : "이", 3 : "박"}

print(4 in a)
print(1 in a)

False
True

In [14]:
s1 = set([1, 2, 3])

print(s1)
print(type(s1))

{1, 2, 3}
<class 'set'>

In [15]:
s1 = {1, 2, 3}

print(s1)
print(type(s1))

{1, 2, 3}
<class 'set'>

In [27]:
I = [1, 2, 2, 3, 3]

리스트 = list(set(I))
print(리스트)

[1, 2, 3]

**변수명 작성 조건**

알파벳 + 숫자
단 숫자가 제일 앞에 올수 없다!

**set자료형에서 list자료형이나 tuple자료형으로 변경하는 이유**

리스트나 튜플은 set자료형과 달리 순서가 있기 때문에 
set자료형에서 리스트나 튜플 자료형으로 변환한 후 해야한다!

list와 달리 tuple은 원소의 수정 및 변경이 불가능하다.
set은 중복이 허용하지 않고 순서가 없다.

In [28]:
s1 = set("Hello")

print(s1)

{'l', 'e', 'o', 'H'}

In [30]:
s1 = {1, 2, 3, 4, 5, 6, 7}
s2 = {4, 5, 6, 7, 8, 9}

print(s1 & s2)
print(s1.intersection(s2))

{4, 5, 6, 7}
{4, 5, 6, 7}

In [34]:
s1 = {1, 2, 3, 4, 5, 6, 7}
s2 = {4, 5, 6, 7, 8, 9}

print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [37]:
s1 = {1, 2, 3, 4, 5, 6, 7}
s2 = {4, 5, 6, 7, 8, 9}

print(s1 - s2)
print(s1.difference(s2))

print(s2- s1)

{1, 2, 3}
{1, 2, 3}
{8, 9}

**교집합**
&
함수 intersection s1.intersection(s2)

**합집합**
\
함수 union  s1.union(s2)

**차집합**
-
함수 differnce s1.difference(s2)

In [39]:
s1 = {1, 2, 3}

s1.add(4)

print(s1)

{1, 2, 3, 4}

In [40]:
s1 = {1, 2, 3}

s1.update({4, 5, 6})

print(s1)

{1, 2, 3, 4, 5, 6}

In [41]:
s1 = {1, 2, 3}

s1.remove(1)

print(s1)

{2, 3}

In [43]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

In [44]:
a = "안녕"

if a:
    print(a)

안녕

In [45]:
a = ""

if a:
    print(a)

In [46]:
a = [1, 2, 3, 4]
while a:
    a.pop()
    print(a)

[1, 2, 3]
[1, 2]
[1]
[]

In [47]:
if []:
    print("참")
else:
    print("거짓")

거짓

In [51]:
a = [1, 2, 3]
b = a
a[1] = 4

print(a)
print(b)

print(id(a))
print(id(b))

print(a is b)

[1, 4, 3]
[1, 4, 3]
1749782167616
1749782167616
True

In [54]:
a = [1, 2, 3]
b = a[:]
a[1] = 4

print(a)
print(b)

print(id(a))
print(id(b))

[1, 4, 3]
[1, 2, 3]
1749782106240
1749782110720

In [56]:
from copy import copy

a = [1, 2, 3]
b = copy(a)
a[1] = 4

print(a)
print(b)

print(id(a))
print(id(b))

[1, 4, 3]
[1, 2, 3]
1749781110912
1749781140416

In [57]:
a, b = ('python', 'life')

print(a)
print(b)

python
life

In [58]:
(a, b) = ('python', 'life')

print(a)
print(b)

python
life

In [59]:
a, b = ['python', 'life']

print(a)
print(b)

python
life

In [60]:
[a, b] = ['python', 'life']

print(a)
print(b)

python
life

In [61]:
a = 3
b = 5
tmp = b
b = a
a = tmp
print(a)
print(b)

5
3

In [62]:
a = 3
b = 5
a,b = b,a
print(a)
print(b)

5
3

In [67]:
a = [1, 2, 3]
b = [1, 2, 3]

print(a is b)

False

a와 b는 서로 다른 메모리